<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="/home" class="brand-logo">Delux Cars</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/vitrine/marcas">Vitrine</a></li>
				<li><a href="/vitrine/marca/form">Adicionar Marca</a></li>
				<li><a href="#">Logar</a></li>
				<li><a href="#">Cadastrar</a></li>

			</ul>
		</div>
	</nav>
</body>
</html>