<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Eventos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1>Lista de Carros</h1>

		<div th:each="m : ${marcas}">
			<div class="row">
				<div class="col s12 m6">
					<div class="card">
						<div class="card-image">
							<img src="th:img='${m.logo}'">
						</div>
						<div class="card-action">
							<p>
								<span class="card-title" th:text='${m.nome}'></span> - <span
									class="card-title" th:text="${m.nacionalidade}"></span>
							</p>
							<a th:href="@{/vitrine/{id}(id=${m.id})}"><span>Vizualizar</span></a>
							<div>
								<p>
									<a th:href="@{/vitrine/{id}/remover(id=${m.id})}"
										style="margin-top: 10px;"><span class="material-icons">delete</span></a>
									<a th:href="@{/vitrine/{id}/selecionar(id=${m.id})}"
										style="margin-top: 10px;"><span class="material-icons">edit</span></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>